.counter-container {
  text-align: center;
  padding: 200px; /* Adjust padding as needed */
  transition: background-color 0.50s; /* Smooth transition */
  font-family: 'Arial Narrow Bold', sans-serif; 
  background-image: url('./bg-2.jpg'); /* Make sure the path is correct */
  background-size: cover; /* Cover the entire area */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Prevent repeating the image */
  border-radius: 10px;
  height: 90vh; /* Set height to full viewport height */
  width: 100vw; /* Set width to full viewport width */
  overflow: hidden; /* Optional: Prevent overflow if needed */
}
.text-black {
  color: black; /* Set text color to black */
}
